.navbar {
  background-color: #1f1f1f;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a:hover {
  color: #ffa500;
}
